/* General Styles */
.employees-table-container {
    padding: 20px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #d3e7f3;
  }
  
  .employees-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .tab-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .tab-button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  .tab-button:hover {
    background-color: #ddd;
  }
  
  .employees-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .employees-table th,
  .employees-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .employees-table th {
    background-color: #89c9e0;
    font-weight: bold;
  }
  
  .view-details-button {
    padding: 6px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .view-details-button:hover {
    background-color: #218838;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .page-select {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .pagination-buttons button {
    padding: 6px 12px;
    margin: 0 4px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .pagination-buttons button:hover {
    background-color: #f1f1f1;
  }
  
  .pagination-buttons .active-page {
    background-color: #007bff;
    color: white;
  }
  
  .pagination-buttons button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  